{% extends 'NuggetServer/base.html' %}




<h1>{% block title %}Nugget Server- Home{% endblock %}</h1>

{% block content %}
<div id="app_home">
    <div id="home_page_container" class="container-fluid">
        <div id="title_home" class="container-fluid">
            <pre><h6 class="text-primary">
                
  __      __.__  _____.__      _______           ____   ____         __    
 /  \    /  \__|/ ____\__|     \      \  __ __  / ___\ / ___\  _____/  |_  
 \   \/\/   /  \   __\|  |     /   |   \|  |  \/ /_/  > /_/  >/ __ \   __\ 
  \        /|  ||  |  |  |    /    |    \  |  /\___  /\___  /\  ___/|  |   
   \__/\  / |__||__|  |__|    \____|__  /____//_____//_____/  \___  >__|   
         \/                            \/                          \/        

            </h6></pre>
        </div>
            <div id="about" class="container">
                <h3 class="text-info">Welcome to the Wifi Nugget C2 server. Here you can flash you device, issue commands, and store data to the database.</h3>
            </div>
        




    </div>
</div>

    
{% endblock %}