{% extends 'NuggetServer/base.html' %}




<h1>{% block title %}Nugget Server- Home{% endblock %}</h1>

{% block content %}
<div id="app_home">
    <div id="home_page_container" class="container">
        <div id="title_home" class="container">
            <h3 class="text-primary"><xmp>
___      __  ____     _   __                       __ 
| |     / (_) __(_)  / | / /_  ______ _____ ____  / /_
| | /| / / / /_/ /  /  |/ / / / / __ `/ __ `/ _ \/ __/
| |/ |/ / / __/ /  / /|  / /_/ / /_/ / /_/ /  __/ /_  
|__/|__/_/_/ /_/  /_/ |_/\__,_/\__, /\__, /\___/\__/  
                              /____//____/
            </xmp></h3>
        </div>
            <div id="about" class="container">
                <h3 class="text-info"></h3>
            </div>
            <h3></h3>



    </div>
</div>

    
{% endblock %}