{% extends 'NuggetServer/base.html' %}



<h1>{% block title %}Nugget Server- Database{% endblock %}</h1>

{% block content %}

<form action="{% url 'NuggetServer:MACDatabase' %}" method="POST">
    <input v-model="mac" placeholder="MAC Address" name="macaddr">
    <input v-model="ip" placeholder="IP Address" name="ipaddr" >
    <button type="submit">Enter</button>
    {% csrf_token %}
</form>


<div id="app">
    <div>
       {% for vendor in vendors %}
        <ol>
            <li>
                IP:{{ vendor.ip_addr }}
            </li>
            <li>
                MAC:{{ vendor.mac_addr }}
            </li>
            <li>
                Vendor:{{ vendor.vendor_name }}
            </li>
        </ol>
        {% endfor %}
    </div>



<script>
    const app = new Vue({
        el: '#app',
        delimiters: ['${' , '}'],
        data: {
            Vendors: [],
            
        },
        methods: {
            displayVendor: function() {
                axios({
                    method: 'get',
                    url: 'https://api.macvendors.com/'
                 }).then((response) => {
                     this.mac_database = JSON.parse(response.data)
                    console.log(this.mac_database)
                    console.log(response.data)
                    })
            }
    
        },
        created: function() {
            this.displayVendor()
    }
    
    }
    )
    
</script>
    
{% endblock %}

