{% extends 'NuggetServer/base.html' %}




<h1>{% block title %}Nugget Server- Database{% endblock %}</h1>

{% block content %}
    <table bgcolor="black" width="790">
        <tr bgcolor="grey">
            <th width="20"></th>
            <th width="250">IP Address</th>
            <th width="250" >MAC Address</th>
            <th width="250">MAC Address Vendor</th>
        </tr>

        <tr bgcolor="lightgrey" align="center">
            <th>1)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
    
{% endblock %}

