<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% load static %}
        <link rel="stylesheet"  href="{% static '/style.css' %}">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <title>Flash Nugget</title>
        
    </head>
    <body>
        <div class="top-bar">
            <span>
                <strong>Flash Nugget</strong>
            </span>

            <ul>
                <li><a href="#"><ion-icon name="logo-octocat"></ion-icon> NuggetServer | </a></li>
                <li><a href="#"><ion-icon name="logo-octocat"></ion-icon> Wifi Nugget | </a></li>
                <li><a href="#"><ion-icon name="globe-outline"></ion-icon> Wifi Flash Guide</a></li>
            </ul>
        </div>

        <nav>

            <div class="alibaba-logo">
                <a href="#"></a><img src="{% static 'alibaba.png' %}" alt="alibaba"></a>
            </div>

                <div class="toggle">
                    <a href="#"><ion-icon name="menu-outline"></ion-icon></a>
                </div>

            <ul class="menu">
                <li><a href="{% url 'NuggetServer:homepage' %}"></a>Home</li>
                <li><a href="#"></a>About</li>
                <li><a href="{% url 'NuggetServer:FlashWifiNugget' %}"></a>Flash</li>
                <li><a href="{% url 'NuggetServer:MACDatabase' %}"></a>Database</li>
                <li><a href="{% url 'NuggetServer:homepage' %}"></a>Log Out</li>
            </ul>
        </nav>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        

        <script>

            $(function(){
                $(".toggle").on("click", function(){
                    if($(".menu").hasClass("active")){
                        $(".menu").removeClass("active");
                        $(this).find("a").html("<ion-icon name='menu-outline'></ion-icon>");
                    } else {
                        $(".menu").addClass("active");
                        $(this).find("a").html("<ion-icon name='close-outline'></ion-icon>");
                    }
                })
            });

        </script>

    </body>
</html>