<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <title>Flash Nugget</title>
        
    </head>
    <body>
        <nav>
            <a href=
            "{% url 'NuggetServer:homepage' %}">
                Home</a>  |
            <a href=
            "{% url 'NuggetServer:FlashWifiNugget' %}">
                Flash Nugget</a> |
            <a href=
            "{% url 'NuggetServer:MACDatabase' %}">
                Database</a> |
            <a href=
            "{% url 'NuggetServer:homepage' %}">
                Log Out</a>
        </nav>
        <div class="container">
            <header>
                <h2 class="title">Pick an Image to Flash to Nugget</h2>
            </header>


        <footer>
            <p><a href="https://github.com/DanielD6464/NuggetServer">GitHub</a></p>
        </footer> 

    </body>
</html>